.chat {
  width: 32.5%;
  position: fixed;
  top: 60.59px;
  height: calc(100vh - 60.59px);
  right: 0;

  display: flex;
  justify-content: flex-end;
  padding: 1.5em 1em;
  h2 {
    font-size: 1em;
    padding-right: 9em;
    text-align: left;
    color: #65676b;
    margin-bottom: .4em;
  }
  a {
    display: flex;
    align-items: center;
    padding: .5em 0;
    text-decoration: none;
    color: #4b4b4b;
    span {
      background-color: #dddddd;
      display: inline-block;
      border-radius: 50%;
      padding: .4em;

      display: flex;
      justify-content: center;
      margin-right: .5em;
      align-items: center;
      .add {
      }
    }
  }
}